@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply p-4 max-w-2xl mx-auto bg-gray-50;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @apply bg-gray-100 selection:text-white selection:bg-teal-400 w-screen;
}